<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminlayout}">

<div layout:fragment="content">
    <div class="col-md-12">
        <form>
            <fieldset>
                <div class="form-group">
                    <label for="itemNm" class="form-label mt-4">상품명</label>
                    <input type="text" class="form-control" id="itemNm"  placeholder="상품명을 입력해주세요.">
                </div>
                <div class="form-group">
                    <label for="price" class="form-label mt-4">가격</label>
                    <input type="text" class="form-control" id="price"  placeholder="가격을 입력해주세요.">
                </div>
                <div class="form-group">
                    <label for="stockNumber" class="form-label mt-4">수량</label>
                    <input type="text" class="form-control" id="stockNumber"  placeholder="수량을 입력해주세요.">
                </div>
                <div class="form-group">
                    <label for="itemDetail" class="form-label mt-4">상품 상세 설명</label>
                    <textarea class="form-control" id="itemDetail" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="itemSellStatus">상품 판매 상태</label>
                        <select class="form-select" id="itemSellStatus">
                            <option selected>선택</option>
                            <option value="1">판매</option>
                            <option value="2">품절</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="itemCategory">상품 카테고리</label>
                        <select class="form-select" id="itemCategory">
                            <option selected>선택</option>
                            <option value="1">손잡이/도어락</option>
                            <option value="2">도어용품</option>
                            <option value="3">경첩</option>
                            <option value="4">철물</option>
                            <option value="5">수공구/전동공구/잡화류</option>
                            <option value="6">우편함/ 택배함</option>
                            <option value="7">바퀴/가구다리</option>
                            <option value="8">전기용품</option>
                            <option value="9">수도/수전/욕실자제</option>
                        </select>
                    </div>
                </div>
            </fieldset>

        </form>
        <button type="button" class="btn btn-primary" id="btn-save" >등록</button>
        <a th:href="@{/posts}" role="button" class="btn btn-secondary">취소</a>
    </div>
</div>
</html>