<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminlayout}">

<div layout:fragment="content">

    <table class="table">
        <thead>
        <tr>
            <th scope="col">주문 번호</th>
            <th scope="col">주문자</th>
            <th scope="col">주문 날짜</th>
            <th scope="col">주문 상태</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orders : ${orders}">
            <td th:text="${orders.orderId}">null</td>
            <td> <a href="#" th:text="${orders.orderUser}">null</a> </td>
            <td th:text="${orders.orderDate}">null</td>
            <td th:text="${orders.orderStatus}">null</td>
        </tr>
        </tbody>
    </table>
    <div th:with="start=${(orders.number/maxPage)*maxPage + 1}, end=(${(orders.totalPages == 0) ? 1 : (start + (maxPage - 1) < orders.totalPages ? start + (maxPage - 1) : orders.totalPages)})" >
        <ul class="pagination justify-content-center">

            <li class="page-item" th:classappend="${orders.number eq 0}?'disabled':''">
                <a th:href="@{'/orders/' + ${orders.number-1}}" aria-label='Previous' class="page-link">
                    <span aria-hidden='true'>Previous</span>
                </a>
            </li>

            <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${orders.number eq page-1}?'active':''">
                <a th:href="@{'/orders/' + ${page-1}}" th:inline="text" class="page-link">[[${page}]]</a>
            </li>

            <li class="page-item" th:classappend="${orders.number+1 ge orders.totalPages}?'disabled':''">
                <a th:href="@{'/orders/' + ${orders.number+1}}" aria-label='Next' class="page-link">
                    <span aria-hidden='true'>Next</span>
                </a>
            </li>

        </ul>
    </div>
</div>
</html>