<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
        <div class="col-md-12">
            <form th:object="${post}">
                <fieldset>
                    <div class="form-group">
                        <label for="id" class="form-label mt-4">글 번호는 수정 불가</label>
                        <input type="text" class="form-control" id="id" th:value="${post.id}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="title" class="form-label mt-4">제목</label>
                        <input type="text" class="form-control" id="title" th:value="${post.title}">
                    </div>
                    <div class="form-group">
                        <label for="author" class="form-label mt-4">작성자는 수정 불가</label>
                        <input type="text" class="form-control" id="author" th:value="${post.author}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="content" class="form-label mt-4">글 작성</label>
                        <textarea class="form-control" id="content" th:text="${post.content}" rows="5"></textarea>
                    </div>
                </fieldset>

            </form>
            <button type="button" class="btn btn-primary" id="btn-update" >수정</button>
            <button type="button" class="btn btn-danger" id="btn-delete" >삭제</button>
            <a th:href="@{/posts}" role="button" class="btn btn-secondary">취소</a>
        </div>
    </div>
</html>