<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="script">
    <script th:inline="javascript">
        function save() {
            var data = {
                title: $('#title').val(),
                author: $('#author').val(),
                content: $('#content').val()
            };

            $.ajax({
                type: 'POST',
                url: '/api/v1/posts',
                dataType: 'json',
                contentType:'application/json; charset=utf-8',
                data: JSON.stringify(data)
            }).done(function() {
                alert('글이 등록되었습니다.');
                window.location.href = '/';
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        }
    </script>
</th:block>

<div layout:fragment="content">
        <div class="col-md-12">
            <form>
                <fieldset>
                    <div class="form-group">
                        <label for="title" class="form-label mt-4">제목</label>
                        <input type="text" class="form-control" id="title"  placeholder="제목을 입력해주세요.">
                    </div>
                    <div class="form-group">
                        <label for="author" class="form-label mt-4">작성자</label>
                        <input type="text" class="form-control" id="author"  placeholder="작성자를 입력해주세요.">
                    </div>
                    <div class="form-group">
                        <label for="content" class="form-label mt-4">글 작성</label>
                        <textarea class="form-control" id="content" rows="5"></textarea>
                    </div>
                    <!--            <div class="form-group">-->
                    <!--                <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>-->
                    <!--                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">-->
                    <!--                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                    <!--            </div>-->
                    <!--            <div class="form-group">-->
                    <!--                <label for="exampleInputPassword1" class="form-label mt-4">Password</label>-->
                    <!--                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
                    <!--            </div>-->
                    <!--            <div class="form-group">-->
                    <!--                <label for="exampleSelect1" class="form-label mt-4">Example select</label>-->
                    <!--                <select class="form-select" id="exampleSelect1">-->
                    <!--                    <option>1</option>-->
                    <!--                    <option>2</option>-->
                    <!--                    <option>3</option>-->
                    <!--                    <option>4</option>-->
                    <!--                    <option>5</option>-->
                    <!--                </select>-->
                    <!--            </div>-->


                    <!--            <div class="form-group">-->
                    <!--                <label for="formFile" class="form-label mt-4">Default file input example</label>-->
                    <!--                <input class="form-control" type="file" id="formFile">-->
                    <!--            </div>-->

                </fieldset>

            </form>
            <button type="button" class="btn btn-primary" id="btn-save" >등록</button>
            <a th:href="@{/}" role="button" class="btn btn-secondary">취소</a>
        </div>
    </div>
</html>